/* page1 wriiten  */

.inside1{
    animation-name: displayss;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-delay: 0.5s; */
    animation-timing-function: ease-out;
    position: relative;
}
@keyframes displayss {
    from {
        top: 1250px;
    }
    to {
        top: 0px;
    }
}

/* navbar  */

.navbar{
    animation-name: displays;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-delay: 0.5s; */
    animation-timing-function: ease-out;
    position: relative;
}
@keyframes displays {
    from {
        bottom: 1250px;
    }
    to {
        bottom: 0px;
    }
}